/* Extra small devices (portrait phones, less than 576px) */


@media (max-width: 575px) {
    .loco-train img {
        top: -25px;
    }
  
}

/* Small devices (landscape phones upto 767px) */
@media (max-width: 767px) {
    #img-grid {
        height: auto;
        background: #1C8E8F;
    }
    #img-grid .s-para {
        color: #D2CE98;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .loco-train img {
        top: -55px;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 

    .loco-train img {
        top: -60px;
    }
    #img-grid {
        height: 715px;
    }

    .Available-soon p {
        margin-top: 150px;
    }

    .available {
        min-height: 420px;
    }
 }
/* Medium devices (tablets, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
    .loco-train img {
        top: -80px;
    }

    #img-grid {
    height: 795px;
    }
 }

/* Large devices (desktops and laptop) */
@media (max-width: 1199px) {
    
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #img-grid .s-para {
        max-width: 80%;
        margin: auto;
      }
 }