/* import text fonts */
/* @import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700&display=swap'); */
@font-face {
  font-family: Zqlne;
  src: url(../fonts/ZqlneECqpsd9SXlmAsD2E1tXRa8TVwTICgirnJhmVJw.woff2);
}
:root {
  --brand-color: #B21110;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
  img {
    max-width: 100%;
  }

::after, ::before {
  box-sizing: border-box;
}
  
h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}
   
ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}
button,button:active {
  outline: none !important;
}
.container {
  max-width: 1440px !important;
}
body {
  background: #f9f9f9;
  font-family: Zqlne;
}

 /* .wow { visibility: hidden; } */
/* basic css end */

/* common css start */
h1{
  font-size: 50px;
  font-weight: 700;
  color: #444;
  white-space: pre-line;
  margin: 90px 0 20px 0;
}


h2 {
  font-size: 35px;
  font-weight: 700;
  color: #444;
}

h3{
  font-size: 22px;
  font-weight: 700;
  color: #444;
}

/*// end of common css */

/* main css start */

.header {
  background: #EFF1F2;
  border-bottom: 3px solid #a0138e;
  position: fixed;
  width: 100%;
  z-index: 1111;
}
.h-text {
  font-size: 14px;
  color: #20303C;
}
.Wix {
  /* color: #a0138e; */
  /* font-weight: bold; */
  font-size: 16px;
  font-family: cursive;
  font-family: 'Acme', sans-serif;
}

.my-btn {
  border-radius: 25px;
  border: 1px solid #a0138e;
  padding: 6px 20px;
  margin: 4px 5px;
}

.my-btn:hover {
  background: #a0138e;
  color: #fff;
}

/* end Of header section */

/* Banner section
========================== */

.bg-banner {
  background: transparent top bottom/cover no-repeat;
  padding: 120px 0px;
}
.b-text {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4f0000;
  padding: 60px 0px;
}

.arrow i {
  display: block;
  font-size: 90px;
  color: rgba(255, 255, 255, 0.295);
}
/* End of Banner section */


/* Loco Money Section
================= */
#loco {
  background: url('../images/locoback.png') top center/cover no-repeat;
  min-height: 65vh;
  position: relative;
  left: 0;
  top: -57px;
  padding-bottom: 60px;
}
.sub-loco-txt {
  /* width: 45%; */
  text-align: center;
  margin-top: 60px;
  /* margin-left: calc(25% + 30px); */
  overflow: visible;
  font-size: 20px;
  padding-bottom: 120px;
  color: #4f0000;
  font-weight: 400;
}
.loco-text span {
  font-size: 30px;
  font-weight: bolder;
  color: #4f0000;
}

.loco-train img {
  max-width: 100%;
  position: absolute;
  top: -120px;
  left: 0;
}
.text {
  font-size: 20px;
  font-weight: 400;
  color: #4f0000;
  text-align: center;
  padding: 0px 10px;
}

/* End of Loco Money section */


/* loco 2 section
================= */
#loco2 {
  background: url(../images/blueBackTile.png) repeat-x;
  margin-top: -100px;
  height: 460px;
  position: relative;
}
.loco2-text {
  color: #D2CE98;
  width: 81%;
  margin: auto;
}
.img-p {
  margin-top: -60px;
}
.chng-color {
  color: #D2CE98;
}
/* End of loco 2 section */

/* img gird section
=================== */
#img-grid {
  background: #d2ce98;
  height: 884px;
  position: relative;
}

.img-grid-1 {
    position: relative;
    left: 0;
    top: -254px;
}



/* End of img grid section */
/* Available section
==================== */

.available {
  min-height: 818px;
  background: transparent;
}

.Available-soon p  {
  font-size: 62px;
  margin-top: 250px;
  font-weight: 700;
  color: rgba(221, 221, 221, 0.493);
}
/* End of Available section */


/* footer section
========================== */

#footer {
  background: #374040;
  height: 100vh;
}

.footer-logo img {
  margin-top: 100px;
}
.footer-logo p {
  color: rgb(124, 124, 124);
}
/* End of footer section */


/* side bar */
.sidebar {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 100px;
  right: 15px;
}

.bar-1, .bar-2, .bar-3 {
  width: 35px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.726);
  margin: 6px 0;
  transition: 0.4s;
}


.overlay {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(250, 238, 238, 0.6);
  overflow-x: hidden;
  transition: 0.5s;
  display: none;
  transition: 0.5s ease-in-out;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #080808;
}

.overlay .closebtn {
  position: absolute;
  top: 60px;
  right: 15px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }


}



@media (min-width: 1200px) {

}


